/* font-family: 'Crimson Text', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Recursive', sans-serif; */

body {
    font-size: 120%;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #EBFCFF;
  }
  
  button, input {
    font-size: 100%;
    font-family: Arial;
  }

  .btn {
    margin:10px;
    background-color: #0B2545;
    color: #EBFCFF;
  }

  .btn:hover {
    color: #7695A7;
  }

  .delete-btn{
    margin:2px;
    background-color: #FF1F26;
    color: #EEEEEE;
    font-size: 12px;
  }

  .delete-btn:hover {
    color:#FFFFFF;
  }
  
  table {
    width: 100%;
  }
  th {
    background-color: #384C57;
    color: #EBFCFF;
  }

  #th-date {
    width:130px;
  }

  #th-delete {
    width:100px;
  }

  .td-delete{
    text-align: center;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 6px;
  }
  
  tr:nth-child(even) {
    background-color: #C1CFD7;
  }

  tr:nth-child(odd) {
    background-color: #7695A7;

  }
  
  .error {
    margin: 15px auto;
    padding: 10px;
    background-color: #FF1F26;
    width: 25%;
    color: #EBFCFF;
    display: none;
  }
  
  .wrapper {
    margin: 0 auto;
    max-width: 825px;
    text-align: center;
    height:1000px;
  }
  
  .total {
    font-size: 175%;
  }
  
  .form {
    margin-top: 25px;
    width: 100%;
  }
  
  .transactions {
    text-align: left;
    max-height: 300px;
    overflow: auto;
    width: 90%;
    margin: 0 auto;
  }
  